<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin login</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- API GOOGLE MAPS -->
    <!-- ctrl+c/v per la mappa-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqvNSk7KCA7zNzfDS2X48P1zxbP3VGabM"></script>
    <script>
        function initMap() {
            // Indirizzo fisso direttamente nel JavaScript
            var address = 'Via del Vulcano, snc Biancavilla, (CT) 95033';
            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === 'OK') {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: results[0].geometry.location
                    });
                    new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map
                    });
                } else {
                    alert('Geocode failed due to: ' + status);
                }
            });
        }
    </script>
</head>

<body onload="initMap()"> 
                <!-- ctrl+c/v per la mappa-->
    <!-- Header -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light container">
            <div class=" container-fluid">
                <!-- Logo and Company Name -->
                <div class="navbar-brand d-flex align-items-center" href="#">
                    <img th:src="@{images/BellsproutGarden.jpg}" alt="Company Logo"
                        class="d-inline-block align-text-top me-3 logo-image">
                </div>

                <!-- Navigation Buttons -->
                <div class="navbar-nav ms-auto ">
                    <a th:href="@{/}" class="btn me-5 navigation-button">Home</a>
                    <a th:href="@{/plant_catalogue}" class="btn me-5 navigation-button">Plants
                        catalogue</a>
                    <a th:href="@{/tool_catalogue}" class="btn me-5 navigation-button">Tools
                        catalogue</a>
                </div>
            </div>
        </nav>
    </header>

    <!-- Form di login -->
        <div class="row mt-4 justify-content-center">
            <div class="col-lg-4 p-4 ">
                <h4 class="text-center">Login Admin</h4>
                <h5 th:if="${errore != null}" th:text="${errore}" class="text-center text-danger"></h5>
                <form action="/admin_login" method="post">
                    <input type="text" placeholder="Username" class="form-control mt-3" name="username" required>
                    <input type="password" placeholder="Password" class="form-control mt-3" name="pword" required>
                    <div class="text-center mt-4">
                        <input type="submit" value="Login" class="btn me-5 navigation-button">
                    </div>
                </form>
            </div>
        </div>

    <!-- Bootstrap JS and dependencies (optional, but recommended) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<!-- chiave API = AIzaSyDqvNSk7KCA7zNzfDS2X48P1zxbP3VGabM-->

</html>